@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('Fonts/SFProRounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ewhite{
    color:aliceblue ;
    font-weight: 600;
}
body {
    font-family: SF Pro Display;
    
}
.itemsheader{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    margin-top: 15px;
    overflow: hidden;
}
.none{
    height: 55px;
    width: 100%;
}
.b1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videob1{
    width: 100%;
}
.textb11{
    font-size: 32px;
    font-weight: 500;
}
.textb12{
    font-size: 64px; 
    font-weight: 600;
}
.textb13{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 30px;
}
.boxbuy{
    margin-top: 40px;
    display: inline-block;
    border: 1px;
    border-radius: 20px;
    background-color: #0071e3;
    padding: 11px 21px;
    color: aliceblue;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
}
.b2{
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    margin: 0 auto;
    width: 100%;
}
.textb21{
    font-size: 56px;
    font-weight: 600;
    
}
.textb14{
    font-size: 21px;
    font-weight: 600;
}
.b21{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom:30px;
}
.b22{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.item{
    width: 10px;
    height: 10px;
    border: 1px;
    border-radius: 50%;
    background-color: gray;
    transition: 1s;
}
.box-video{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px;
    margin: 0 auto;
    background-color:rgb(200, 197, 197) ;
    transform: translateY(100px);
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.active{
    width: 80px;
    border-radius: 10px;
    background-color: #000000;
    transition: 5s;
   
}
.slider1{
    display: flex;
    transform: translateX();
}
.video1{
    width: 85%;
}
.textb22{
    display: flex;
    gap: 10px;
    align-items: end;
    font-size: 21px;
    color: #0066CC;
}

.video1{
    display: inline-block;
    width: 100%;
    border: 1px;
    border-radius: 20px;
}

.textb31{
    width: 85%;
    margin: 0 auto;
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 30px;
    overflow: hidden;
}
.b3{
    width: 85%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px ;
    margin: 0 auto;
}
.slider2{
    width: 100%;
    display: flex;
    margin: 0 auto;
    transition: 1s;
    margin-top: 200px;
    margin-left: 10%;
   

}
.textb3{
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
}
.img31{
    width: 75%;
    transition: 1s;
    opacity: 1;
}
.img32{
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    transition: 1s;
}
.box-slider2{
    display: flex;
    width: 350px;
    margin: 0 auto;
    gap:30px;
    justify-content: center;
    
}
.box-slider21{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #b7b7bd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.box-slider22{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #b7b7bd;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.circlebl{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.bs11{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f2f4f5;
}
.bs12{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    
}
.b4{
    width: 100%;
    background-color: black;
    padding-bottom: 300px;
}
.b41{
    color: #86868b;
    width: 85%;
    font-size: 56px;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 100px;
}
.b42{
    width: 100%;
    padding: 150px 0;
    color: aliceblue;
    width: 100%;
}
.b421{
    width: 65%;
    margin: 0 auto;
}
.b422{
    width: 85%;
    margin: 0 auto;
}
.textb4211{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 100px;
}
.textb4212{
    font-size: 21px;
    margin-bottom: 80px;
    color: #6e6e73;
}

.b4221{
    color: #43b9b9;
    padding-right: 80px;
}
.b4222{
    color: #2997ff;
    padding-right: 80px;
}
.b422{
    font-size: 28px ;
    font-weight: 600;
    display: flex;

}
.textb42211{
    padding-top: 60px;
}
.textb42212{
    padding-top: 60px;
}
.textb42213{
    padding-top: 60px;
}
.textb42221{
    padding-top: 60px;
}
.textb42222{
    padding-top: 60px;
}
.textb42223{
    padding-top: 60px;
}
.b4223{
    color: #a972ff ;
}
.textb42231{
    padding-top: 60px;
}
.textb42232{
    padding-top: 60px;
}
.textb42233{
    padding-top: 60px;
}
.textb431{
    width: 65%;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 600;
}
.b43{
    width: 100%;
    margin-top: 150px;
    color: aliceblue;
}
.b432{
    width: 100%;
    margin-top: 120px;
}
.gpu{
    width: 100%;
    position: relative;
    height: 1000px;
    overflow: hidden;
}
.gpu8{
    position: absolute;
    width: 45%;
    left: 60%;
    top: 48%;
}
.gpu7{
    position: absolute;
    width: 55%;
    top:48%;
    left:5%;
}
.gpu6{
    position: absolute;
    width: 40%;
    left: 45%;
    top: 50%;
}
.gpu5{
    position: absolute;
    left: 30%;
    top: 40%;
    width: 50%;
}
.gpu4{
    position: absolute;
    width: 40%;
    top: 38%;
    left: 23%;
}
.gpu3{
    position: absolute;
    width: 48%;
    top:18%;
    left: 50%;
}
.gpu2{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 42%;
}
.gpu1{
    position: absolute;
    width: 41%;
    left: 25%;
    top: 18%;
}
.gpu:hover .gpu1{
    animation-name: gpu1;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu2{
    animation-name: gpu2;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu3{
    animation-name: gpu3;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu4{
    animation-name: gpu4;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu6{
    animation-name: gpu6;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu7{
    animation-name: gpu7;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}
.gpu:hover .gpu8{
    animation-name: gpu8;
    animation-fill-mode:forwards;
    animation-duration: 3s;
}

@keyframes gpu1{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-200px,-100px);
    }
}
@keyframes gpu2{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-20px,-150px);
    }
}
@keyframes gpu3{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(50px,-150px);
    }
}
@keyframes gpu4{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-200px,100px);
    }
}
@keyframes gpu6{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(400px,-70px);
    }
}
@keyframes gpu7{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-200px,100px);
    }
}
@keyframes gpu8{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(380px,150px);
    }
}
.gpuline{
    width: 50%;
    height: 2px;
    background-color: #86868b;
    position: absolute;
    top: 100%;
    left: 25%;
}

.b433{
    width: 100%;
    margin-top: 100px;
    font-size: 21px;
    font-weight: 600;
}
.b4331{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
}
.b43311{
    width: 327px;
    display: flex;
    flex-wrap: wrap;
}
.b43322{
    width: 327px;
    display: flex;
    flex-wrap: wrap;
}
.b4332{
    margin-top: 50px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.b43321cont{
    width: 327px;
}
.b44{
    color: aliceblue;
    width: 100%;
    font-weight: 600;
    margin-bottom: 250px;
}
.b441{
    width: 60%;
    font-size: 80px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.b442{
    font-size: 21px;
    width: 654px;
    margin: 0  auto;
    margin-top: 80px;
    width: 60%;
}
.b443{
    width: 70%;
    height: 900px;
    margin: 0 auto;
    margin-top: 100px;
}
.video4431{
    width: 100%;
    margin: 0 auto;
}

.b444{
    height: 2px;
    width: 60%;
    background-color: #86868b;
    margin: 0 auto;
}
.b45{
    width: 100%;
    color:aliceblue;
    font-weight: 600;
}
.b451{
    width: 60%;
    font-size: 80px;
    margin: 0 auto;
}
.b452{
    width:60%;
    margin: 0 auto;
    font-size: 21px;
    margin-top: 50px;
}
.b453{
    width: 100%;
    margin-top: 100px;
}
.b4532{
    width: 70%;
    margin: 0 auto;
}
.video4532{
    width: 100%;
    margin: 0 auto;
    left: 23%;
    top:11%;
}
.b454{
    color: aliceblue;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.b4541{
   font-size: 21px;
   width: 327px;
}
.b45412{
    font-size: 64px;
}
.b45411{
    color: #86868b;
}
.b45413{
    color: #86868b;
}
.b4542{
    font-size: 21px;
    width: 327px;
}
.b45422{
    font-size: 64px;
}
.b45421{
    color: #86868b;
}
.b45423{
    color: #86868b;
}
.b46{
    width: 100%;
    margin: 250px 0;
    color:aliceblue;
    font-weight: 600;
}
.b461{
    width: 65%;
    font-size: 80px;
    margin: 0 auto;
}
.b462{
    width:65%;
    margin: 0 auto;
    font-size: 21px;
    margin-top: 50px;
    color: #86868b;
}
.b463{
    width: 65%;
    color:#2997ff;
    font-size: 21px;
    margin: 0 auto;
    margin-top: 20px;
}
.b464{
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.b4641{  
    width: 852px                                                                     ;
    margin: 0 auto;
    margin-top: 200px;
}
.slider3{
    width: 100%;
    transition: 1s;
    display: flex;
    gap: 50px;
    transform: translateX();
}
.imgs3{
    width: 852px;
    
}
.actives3{
    
}
.box-slider3{
    width: 852px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 100px;
    border-color: #86868b;
    transition: 1s;
}
.texts4{
    width: 2000px;
    display: flex;
    font-size: 30px;
    gap: 50px;
    color: #86868b;
    transform: translateX();
    transition: 1s;
}
.activets3{
    color: aliceblue;
}
.b47{
    width: 90%;
    background-color: #161617;
    margin: 0 auto;
    border: 2px;
    border-radius: 25px;
    color:#f5f5f7;
    
}
.b471{
    width: 70%;
    margin: 0 auto;
    font-size: 64px;
    padding-top: 80px;
}
.b472{
    margin-top: 50px;
    display: flex;
    width:70%;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 100px;
}
.i1{
    font-size: 28px;
}
.i2{
    font-size: 17px;
    color:#86868b;
}
.i3{
    margin-top: 20px;
    width: 250px;
    height: 1px;
    background-color: #86868b;
}
.b4721{
    margin-top: 80px;
    width: 30%;
} 
.b4723{
    margin-top: 80px;
    width: 30%;
} 
.b47212{
    margin-top: 60px;

}
.b47222{
    margin-top: 60px;
}
.i4{
    margin-top: 10px;
    width: 222px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #86868b;
}
.b4722{
    padding-top: 80px;
    width: 30%;
}
.b47213{
    padding-top: 56px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i5{
    font-size: 21px;
    color: #86868b;
}
.i6{
    font-size: 21px;
    color: #86868b;
}
.i7{
    width: 54px;
    height: 54px;
}
.b47223{
    padding-top: 56px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i8{
    width: 114px;
    height: 54px;
}
.b47232{
    margin-top: 60px;
}
.b47233{
    padding-top: 56px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b5{
    width: 100%;
    padding-bottom: 300px;
}
.b52{
    width: 100%;
    overflow: hidden;
}
.b521{
    width: 85%;
}
.b51{
    padding-top: 200px;
    width: 85%;
    font-size: 80px;
    font-weight: 600;
    margin: 0 auto;
}
.b53{
    width: 85%;
    margin: 0 auto;
    color: #6e6e73;
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
    padding-left: 30px;
}
.b54{
    width: 100%;
    margin-top: 30px;
}
.b541{
    width: 70%;
    margin: 0 auto;
    margin-left: 10%;
}
.b55{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    margin-top: 50px;
    font-size: 21px;
}
.b55e1{
    color: #6e6e73;
}
.b55e1{
    color: #161617;
    margin-bottom: 25px;
}
.b6{
    width: 100%;
    font-weight: 600;
    position: relative;
    padding-bottom: 400px;
}
.b61{
    width: 85%;
    font-size: 80px;
    font-weight: 600;
    margin: 0 auto;
}
.b612{
    width: 480px;
    padding-top: 200px;
}
.b6321{
    color: #6e6e73;
}
.b62{
    width: 100%;
    display: flex;
    transform: translateX(-20%);
    gap:10%;
}
.b621{
    width: 70%;
}
.b6e1{
    font-size: 35px;
    color:#161617;
    margin-bottom: 5px;
}
.b6e2{
    font-size: 21px;
}
.b631{
    width: 480px;
}
.b6321{
    margin-bottom: 50px;
}
.b6322{
    margin-bottom: 50px;
}
.b7{
    width: 100%;
}
.b71{
    width: 85%;
    margin: 0 auto;
    font-weight: 600;
}
.b711{
    font-size: 80px;
    transform: translateX(5%);
}
.b712{
    margin-top: 60px;
    font-size: 28px;
    color:#86868b; 
    transform: translateX(5%);
}
.b72{
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
    
}
@keyframes tele {
    from{transform: translateX(85%);}
    to{transform: translateX(30%);}
}
.b721{
    animation-name: tele;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 50px
}
@keyframes tele1 {
    from{transform: translateX(-85%);}
    to{transform: translateX(-60%);}
}
.b722{
    animation-name: tele1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.b73{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
}
.b7311{
    width: 320px;
    height: 1px;
    background-color: #6e6e73;
    margin-bottom: 50px;
}
.b731{
   width: 320px;
 
}
.b7312{
    font-size: 28px;
    font-weight: 600;
}
.b7322{
    font-size: 21px;
    font-weight: 600;
    color: #86868b;
}
.b7322 span{
    color: #161617;
}
.b74{
    margin-top: 150px;
    width: 100%;
}
.b74321{
    width: 320px;
    height: 1px;
    background-color: #6e6e73;
    margin-bottom: 20px;
}
.b742{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.b743{
    width: 85%;
    font-size: 21px;
    font-weight: 600;
    color: #86868b; 
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.b741{
    width: 85%;
    font-size: 80px;
    font-weight: 600;
    margin:0 auto;
}
.b7431{
    width: 320px;
}
.b7432{
    width: 320px;
}
.b8{
    margin-top: 150px;
    width: 100%;
}
.b81{
    width: 100%;
    font-weight: 600;
    margin-bottom: 300px;
}
.b811
{   width: 90%;
    font-size: 52px;
    margin: 0 auto;
}
.b812{
    font-size: 32px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color:#f5f5f7;
   
   
}
.b81221{
    width: 100%;
}
.b8121{
    padding-left: 60px;
    width: 100%;
}
.b82{
    width: 100%;
    background-color: #f5f5f7;
    height: 700px;
    margin-bottom: 200px;
}
.b821
{   width: 90%;
    font-size: 52px;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 100px;
}
.b822{
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
}
.slider4{
    width: 3000px;
    display: flex;
    gap:50px;
    transform: translateX();
    transition: 0.5s;
}
.s4i{
    width: 350px;
    padding: 40px;
    background-color: white;
}
.s4i1{
    font-size: 28px;
    margin-bottom: 10px;
}
.s4i2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.b823{
    margin-top: 30px;
    font-size: 28px;
    display: flex;
    gap:20px;
    justify-content: end;
    margin-right: 7%;
}
.b83{
    width: 100%;
}
.b831{
    display: flex;
    width: 85%;
    justify-content:space-between;
    align-items: flex-end;
    margin: 0 auto;
}
.b8311{
    font-size: 56px;
    font-weight: 600;
}

.b8312{
    font-size: 21px;
    color: #0071e3;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b832{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.b83211{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;

}
.point1{
    height: 10px;
    width: 10px;
    border: 1px;
    border-radius: 50%;
    background-color: #000000;
}
.point2{
    height: 10px;
    width: 10px;
    border: 1px;
    border-radius: 50%;
    background-color: #b8bcbf;
}
.point3{
    height: 10px;
    width: 10px;
    border: 1px;
    border-radius: 50%;
    background-color: #717476;
}
.point4{
    height: 10px;
    width: 10px;
    border: 1px;
    border-radius: 50%;
    background-color: #e895ce;
}
.b83221{
    margin-top: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;

}
.b83212{
    font-size: 12px;
    font-weight: 600;
    color: #e74452;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.b83213{
    margin-top: 15px;
    font-size:28px ;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.b83214{
    margin-top: 15px;
    font-size:17px ;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.b83215{
    margin-top: 15px;
    font-size:17px ;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #6e6e73;
}
.b83216{
    margin-top: 15px;
    font-size:21px ;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.b83217{
    margin-top: 30px;
    font-size:17px ;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.it1{
    color: #6e6e73;
}
.it2{
    color: #0066CC;
}
.itt1{
    padding: 12px 18px;
    border: 1px;
    border-radius: 20px;
    background-color: #0066CC;
    color: white;
    transform: translateY(-10px);
}
.b84{
    margin-top: 300px;
    width: 50%;
    height: 2px;
    background-color: #6e6e73;
    margin: 0 auto;
    margin-top: 150px;
}
.b85{
    margin-top: 100px;
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 100px;
 
}
.b851{
    width: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img2851{
    width:122px ;
    height: 56px;
    transform:translateX(50px)
}

.b85111{
    font-size: 12px;
    font-weight: 600 ;
    transform: translateX(25px);
}
.b8i1{
    transform: translateX(90px);
    margin-top: 50px;
}
.b8i2{
    transform: translateX(70px);
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}
.b8i3{
    transform: translateX(75px);
    margin-top: 10px;
}
.b8i4{
    margin-top: 10px;
    font-size: 12px;
}
.b85211{
    transform: translateX(125px);
    font-size: 12px;
}
.b85212{
    margin-top: 10px;
    transform: translatex(50px);
}
.b85213{
    transform: translatex(50px);
    margin-top: 20px;
}
.b9{
    margin-top: 500px;
    background-color:#f5f5f7;
    width: 100%;
}
.b91{
    font-size: 48px;
    font-weight: 600;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.b92{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.b921i1{
    font-size: 12px;
    color: #86868b;
}
.b921i2{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
}
.b921i3{
    font-size: 13px;
    margin-top: 10px;
    color: #86868b;
}
.b922{
    margin-left: 100px;
}
.b922i1{
    font-size: 12px;
    color: #86868b;
}
.b922i2{
    font-size: 14px;
    font-weight: 600;
    margin-top: 16px;
}
.b923{
    margin-left: 100px;
}
.b10{
    width: 100%;
    padding-top: 20px;
    background-color: #eeeef2;

}
.b101{
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    color:#86868b;
    margin-top: 10px;
}
.e1{
    background-color: #86868b;
    width: 70%;
    margin: 0 auto;
    height: 1px;
}
.end{
    margin-top: 20px;
    width: 100%;
}
.icone1{
    width: 70%;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 10px;
    color: #86868b;
    letter-spacing: 3px;
}
.icone1 i{
    color: #000000;
    font-size: 20px;
}
.e3{
    width: 70%;
    display: flex;
    gap:100px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}

.endi1{
    font-size: 14px;
    font-weight: 600;
}
.endi2{
    margin-top: 10px;
    font-size: 12px;
    color: #86868b;
}
.end2{
    margin-top: 20px;
}
.e41{
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    color:#86868b;
}
.e4{
    margin-top: 40px;
}
.e41 span{
    color: #0066CC;
}
.e5{
    width: 70%;
    height: 1px;
    background-color: #86868b;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.e6{
    width: 70%;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #86868b;
    margin: 0 auto;
}
.e62{
    margin-left: 30px;
}
.e63{
    margin-left: 300px;
}


